NEXT_PUBLIC_SUPABASE_PROJECT_URL=https://etcydtowxqnqstjboflk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV0Y3lkdG93eHFucXN0amJvZmxrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MzExMDIsImV4cCI6MjA3MDAwNzEwMn0.d8wnfawK-rH_GwbLhZ5_rfaukwH2ReZLMj-Q47ERqXk